@charset "UTF-8";
@import "helpers";

.@{prefix}select-list{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.@{prefix}select-list__item{
    padding: 10px;
    cursor: pointer;
    line-height: 1rem;
    &:hover {
        background-color: #eee;
    }
}

.@{prefix}select-list__item--empty {
    height: 1rem;
}